# Example file for setting up the app as a linux service
#
# Copy service file to /etc/systemd/system/EnergyMonitor.service
#
# Add the following aliases to .bashrc to set up and check the service
#alias logs='journalctl --no-page -u EnergyMonitor'
#alias enables='sudo systemctl enable EnergyMonitor.service'
#alias disables='sudo systemctl disable EnergyMonitor.service'
#alias stops='sudo systemctl stop EnergyMonitor.service'
#alias starts='sudo systemctl start EnergyMonitor.service'
#alias reloads='sudo systemctl daemon-reload'

[Unit]
Description=Energy Monitor service
# Wait for the network before starting
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
# Set the user, directory, and node start command
User=pi
WorkingDirectory=/home/pi/jjkEnergyMonitor
ExecStart=/usr/bin/npm start
# 60 x 60 x 60 x #hours
# 216,000 x 1 = restart every hour
RuntimeMaxSec=216000
Restart=always

[Install]
WantedBy=multi-user.target
